<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "false"
        bootstrap                   = "tests/bootstrap.php">

    <testsuites>
        <testsuite name="Ramil8090\RateLimiter Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>tests</directory>
                <directory>vendor</directory>
                <directory>.docker</directory>
                <directory>.docker/apache_php</directory>
                <directory>sys</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>